@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-uniquifier {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.navbar, .banner,.bannerss{
    max-width: 1440px;
    margin: 0 auto;

}
.displayflex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-div{
    gap: 21px;
}
.item{
    list-style: none;
    margin-right: 30px;
}
.item-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.item-link1{
    color: rgb(254, 163, 1);
}
.item-link2{
    color: rgb(1, 172, 253);
}
.item-link3{
    color: rgb(5, 212, 223);
}
.item-link4{
    color: rgb(93, 88, 239);
}
.nav-bt{
    border-radius: 12px;
    border: none;
   background: rgb(254, 163, 1);
   color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
     padding: 15px;
     width: 197px;
}
.bannerss{
    justify-content: space-between;
   
}
.part{
    max-width: 640px;
    justify-content: flex-start;
    align-items: center;
    margin: 120px 50px 120px 0;
}
.banner-img{
    width: 469px;
}
.banner-heading{
   
font-size: 56px;
font-weight: 700;

}
.one{
    color: rgb(254, 163, 1);
}
.three{
    color: rgb(1, 172, 253);
}
.banner-para{
    color: rgb(17, 17, 17);

font-size: 20px;
font-weight: 400;

}

.banner-bt{
    border-radius: 12px;
    border: none;
   background: black;
   color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
     padding: 15px;
     width: 197px;

}
.first-section{
    margin-top: 60px;
    text-align: center;
    background-image: url(../assets/bg.png);
}
.curriculum{
    margin-top: 80px;
    gap: 30px;
    margin-right: 140px;
    margin-left: 140px;
}

.curriculum-banner-1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
padding: 55px;
width: 367.8px;
height: 476.78px;
align-items: center;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
gap: 38px;
}
.curriculum-banner-2{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
width: 367.8px;
height: 476.78px;
padding: 55px;
align-items: center;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
gap: 38px;
}
.curriculum-banner-3{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
width: 367.8px;
height: 476.78px;
align-items: center;
padding: 55px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
gap: 38px;
}
.bt{
    border-radius: 30px;

border: none;
background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
width: 60px;
height: 60px;
font-size: 24px;
font-weight: 700;
margin-top: 80px;
margin-right: 10px;

}
.banners-heading{
    color: rgb(32, 32, 32);

font-size: 24.52px;
font-weight: 700;

}
.banners-para{
    color: rgb(128, 128, 128);

font-size: 15.09px;
font-weight: 500;

}
.see-more{
    color: rgb(100, 200, 255);

font-size: 15.09px;
font-weight: 700;


}
.second-section{
    text-align: center;
    margin-top: 60px;
    background-image: url(../assets/bg.png), linear-gradient(rgba(255, 255, 255, 0.3),rgba(254, 163, 1, 0.3));
    padding: 60px 0px 60px 0px ;
   
}
.banner-1{
    border-radius: 16px;
 background: rgb(255, 255, 255);
 align-items: center;
 width: 540.27px;
height: 630.52px;
margin-right: 19px;
}
.banner-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.sub-banner{
    border-radius: 20px;
  background: rgb(255, 255, 255);
  width: 290.69px;
height: 301.61px;
  
}
.sub-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.banners{
    padding: 80px 140px ;
}
.second-heading{
    color: rgb(0, 0, 0);

font-size: 46px;
font-weight: 700;

}
.banner-1-img{
    border-radius: 16px 16px 0px 0px;

background: url(),rgb(217, 217, 217);
width: 540px;
height: 337px;
}
.sub-bt{
    border-radius: 47.93px;

background: rgb(60, 216, 232);
color: rgb(255, 255, 255);
border: none;
font-size: 15.34px;
font-weight: 500;
padding: 10px 19px;
position: absolute;
margin-top: 160px;
margin-left: -250px;

}
.sub-btn{
    border-radius: 47.93px;

background: rgb(60, 216, 232);
color: rgb(255, 255, 255);
border: none;
font-size: 15.34px;
font-weight: 500;
padding: 10px 19px;
position: absolute;
margin-top: 320px;
margin-left: -500px;

}
.set{
    position: relative;
    
}
.sub-para{
    color: rgb(0, 0, 0);
font-size: 15.34px;
font-weight: 700;
margin:23px 62px 34px 38px;


}
.benner1-heading{
    color: rgb(0, 0, 0);

font-size: 24px;
font-weight: 700;
margin-top: 30px;
margin: 62px 100px 39px  41px;


}
.banner-para{
    color: rgb(102, 102, 102);

font-size: 15.34px;
font-weight: 500;
margin:  52px 67px 39px  35px;
}


.footer{
    background-color: rgb(1, 172, 253);
    padding: 140px 123px 228px 175px;
    
}

.footer-div{
    justify-content: space-around;
}
.footer-para{
    color: rgb(255, 255, 255);

font-size: 20px;
font-weight: 400;
}
.footer-heading{
    color: rgb(255, 255, 255);

font-size: 42.14px;
font-weight: 700;

}
.second-fheading{
    color: rgb(255, 255, 255);

font-size: 24px;
font-weight: 700;

}
.footer-ul{
    list-style: none;
   
}
.footer-li{
    color: rgb(255, 255, 255);
margin-bottom: 20px;
font-size: 20px;
font-weight: 500;
align-items: flex-start;

}
.third-heading{
    color: rgb(255, 255, 255);

font-size: 26px;
font-weight: 700;

}






@media screen and (max-width:576px) {
    .bannerss{
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .curriculum{
        flex-direction: column;
        align-items: center;
    
    }
    .banner{
        max-width: 100%;
    }
    .second-section{
        justify-items: center;
    }
    .banner-1{
        display: none;
    }
    .banner-2{
        margin-left:-60px;
        grid-template-columns: repeat(1, 1fr);

    }
    .second-heading{
        margin-left: -50px;
    }
    .footer-div{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .item,.item-link,.nav-bt{
        display: none;
    }
}